{% if product.metafields.custom_fields["designer"] != blank %}
  <div class="custom-field custom-field__designer custom-field__type--text">
    <h3 class="custom-field--title">DESIGNER</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["designer"] }}
    </div>
  </div>
{% endif %}