{% if product.metafields.custom_fields["upper_material"] != blank %}
  <div class="custom-field custom-field__upper-material custom-field__type--text">
    <h3 class="custom-field--title">UPPER MATERIAL</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["upper_material"] }}
    </div>
  </div>
{% endif %}