{% if product.metafields.custom_fields["sizeandfit"] != blank %}
  <div class="custom-field custom-field__sizeandfit custom-field__type--text">
    <h3 class="custom-field--title">SIZE & FIT</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["sizeandfit"] }}
    </div>
  </div>
{% endif %}