{% if product.metafields.custom_fields["technology"] != blank %}
  <div class="custom-field custom-field__technology custom-field__type--text">
    <h3 class="custom-field--title">TECHNOLOGY</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["technology"] }}
    </div>
  </div>
{% endif %}