{% if product.metafields.custom_fields["category"] != blank %}
  <div class="custom-field custom-field__category custom-field__type--text">
    <h3 class="custom-field--title">CATEGORY</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["category"] }}
    </div>
  </div>
{% endif %}