{% if product.metafields.custom_fields["release_date"] != blank %}
  <div class="custom-field custom-field__release-date custom-field__type--text">
    <h3 class="custom-field--title">RELEASE DATE</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["release_date"] }}
    </div>
  </div>
{% endif %}