{% if product.metafields.custom_fields["nickname"] != blank %}
  <div class="custom-field custom-field__nickname custom-field__type--text">
    <h3 class="custom-field--title">NICKNAME</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["nickname"] }}
    </div>
  </div>
{% endif %}